.container {
  background-color: $greyLight1;
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: $shadowDark1;

  @include respond(tab-land) {
    margin: 0;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
  }
}